a{
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  /* height: 6.5vh; */
  padding-top: 2%;
  padding-bottom: 2%;
  background-color:  #34495e;
  font-size: 3vh;
}

/* @media screen and (min-width: 576px) {
  #navbar {
    flex-direction: column;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
  }  
} 
 */

/* .navbar_toggle {
  display: none;
  }
*/
/* .logo{
  margin-left: 5%;
 vh
  font-size: 20px;
  font-weight: bold;
} */
.logo_header{
  display: flex;
  width: 18%;
  margin : 0% 3% 0% 2%;
  font-size : 1.6vw;
  color: #ffffff;
}

.main_nav{
  display: flex;
  width: 82%;
  /* float: left; */
  margin-right: 2%;
  margin-left: 2%;
  justify-content:space-around;
  list-style: none;
}
.main_nav li:hover{
  color :#39345e;
  background-color: gray;
}

.main_nav li{
  display: inline;
  font-size: 1.3vw;
  color: #ffffff;
}
.main_nav li a{
  color: #ffffff;
}


/* above nav  */

html,body{
    margin: 0;
    padding:0;
    background-color: #23ecac3e
}
canvas
{
  position: relative;
  display: block;
  width: 100%;
  margin : 2%  5% 2% 4%;
  border:1px solid black;
  border-radius: 1rem;

  /* vh = view height
     vw = view width
  */
}

#canvas_holder
{
  margin: 0px;
  align-items: center;
}