a {
  text-decoration: none;
}

.navbar {
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100%;
  /* height: 6.5vh; */
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #34495e;
  /* font-size: 10px; */
  margin: auto;
  display: flex;
}

.foot {
  width: 100%;
  /* font-size:  */
  display: flex;
  margin-right: auto;

}

button{
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  background-color: #bdc3e1;
}


@media(min-width : 801px) 
{
   .navbar{
    flex-direction: row;
   } 
   .logo_header{
    width: 18%;
    font-size: 3.5vh;
    /* display: inline; */

    } 
    .main_nav{
    /* flex-direction: row; */
    width: 80%;
    font-size: 2.5vh;
    /* display: inline;  */
  }

  button{
    border: 2px solid black;
  }
} 
@media(max-width : 800px) {
  .navbar{
    flex-direction: column;
    padding-bottom: 10px;
    display: inline-flexbox;
    font-size: large;
  }

   .logo_header{
    flex-direction: row;
       width: 100%;
       margin-bottom: 200px;
       padding-bottom: 3%;
       justify-content: center;
      }

    .main_nav{
      display: flex;
      flex-direction: column;
    }
    
    button{
      border: 2px solid black;
    }
    

}



.logo_header {
 display: flex;
  margin: 0% 3% 0% 2%;
  color: #ffffff;
}

.main_nav {
 display: flex;

  margin-right: 2%;
  margin-left: 2%;
  justify-content: space-around;
  list-style: none;
  
}

.main_nav li:hover {
  color: #39345e;
  background-color: gray;
}

.main_nav li {
  color: #ffffff;
}

.main_nav li a {
  color: #ffffff;
}


/* above nav  */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #23ecac3e
}

canvas {
  position: relative;
  display: block;
  width: 100%;
  margin: 2% 5% 2% 4%;
  border: 1px solid black;
  border-radius: 1rem;

  /* vh = view height
     vw = view width
  */
}

#canvas_holder {
  margin: 0px;
  align-items: center;
}


